<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" type="text/css" href="/style/bootstrap">
    <link rel="stylesheet" type="text/css" href="/style/article">
    <link href="/articles/feed" type="application/rss+xml" rel="alternate" title="Articles Feed">
  </head>
  <body>
    {nav}
    <article>
      <h1>{title}</h1>
      {body}
      <section id="reader-comments">
      </section>
    </article>
    <footer>
      <div class="container">
        <p>{copyright}</p>
      </div>
    </footer>
    <script src="/script/jquery"></script>
    <script src="/script/bootstrap"></script>
    <script src="/script/comments"></script>
  </body>
</html>
