<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" type="text/css" href="/style/bootstrap">
    <link rel="stylesheet" type="text/css" href="/style/article">
    <link href="/articles/feed" type="application/rss+xml" rel="alternate" title="Articles Feed">
  </head>
  <body>
    {nav}
    <article>
      <h1>{title}</h1>
      {body}
      <section id="article-comments">
      </section>
    </article>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/script/bootstrap"></script>
    <script src="/script/comments"></script>
    <script type="text/javascript">
      {analytics}
    </script>
  </body>
</html>
