<!DOCTYPE html>
<html>
  <head>
    <title>jekor.com</title>
    <link rel="stylesheet" type="text/css" href="/style/bootstrap">
    <link rel="stylesheet" type="text/css" href="/style/front">
    <link href="/articles/feed" type="application/rss+xml" rel="alternate" title="Articles Feed">
  </head>
  <body>
    <div id="page-container">
    <section id="articles">
      <h2>Articles</h2>
      <ul>
        {articles}
      </ul>
    </section>
    <section id="stories">
      <h2>Stories</h2>
      <ul>
        {stories}
      </ul>
    </section>
    <section id="programs">
      <h2>Programs</h2>
      <ul>
        <li><a href="gressgraph">gressgraph</a></li>
        <li><a href="xtee">xtee</a></li>
        <li><a href="log2rotate">log<sub>2</sub>rotate</a></li>
      </ul>
    </section>
    <section id="sites">
      <h2>Sites</h2>
      <ul>
        {sites}
      </ul>
    </section>
    <section id="about">
      <h2>About</h2>
      <ul>
        <li><a href="mailto:jekor@jekor.com">jekor@jekor.com</a></li>
        <li><a href="http://twitter.com/jekor">@jekor</a></li>
        <li><a href="pgp">PGP key</a></li>
      </ul>
    </section>
    <section id="video">
      <h2>Code Deconstructed Videos</h2>
      <iframe width="560" height="315" src="http://www.youtube.com/embed/videoseries?list=PLxj9UAX4Em-IBXkvcC3MycLlcxyoi7v8B" frameborder="0" allowfullscreen></iframe>
    </section>
    <script type="text/javascript">
      {analytics}
    </script>
  </body>
</html>
