<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet" type="text/css" href="/style/bootstrap">
    <link rel="stylesheet" type="text/css" href="/style/article">
  </head>
  <body>
    {nav}
    <article>
      <h1>{title}</h1>
      {body}
    </article>
    <footer>
      <div class="container">
        <p>{copyright}</p>
      </div>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/script/bootstrap"></script>
    <script type="text/javascript">
      {analytics}
    </script>
  </body>
</html>
